
.homePage {
  background: #1e1e2e;
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite;
}

.ProductsContent {
  display: flex;
  justify-content: space-around;
  height: 100vh;
  align-items: center;
  width: 100%;
  gap: 350px;
}

.Cow {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 110vh;
  width: 100%;
}

.Help {
  width: 100%;
  height: 100vh;
}
@keyframes color {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
